:root {
  --primary: #026ae3;
}
.container {
  width: 100%;
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: center;
}
nav .items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
nav .items .all {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  border: 2px solid var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}
nav .items .active,
nav .items .all:hover {
  color: white;
  background-color: var(--primary);
}
.event-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: chartreuse; */
}
.event-wrapper .slider-card {
  width: calc(100% / 3);
  /* background-color: coral; */
  overflow: hidden;
  margin: 10px;
}
.event-wrapper .image.hide {
  display: none;
}
.event-wrapper .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.event-wrapper .slider-card img {
  transition: all 0.3s ease;
  width: 500px;
}
.event-wrapper .slider-card img:hover {
  transform: scale(1.06);
}
.event-wrapper .slider-card .date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.event-wrapper .slider-card .date-container .date-1 {
  background-color: var(--primary);
  padding: 14px 8px;
  margin: 10px;
  border-radius: 8px;
}
.event-wrapper .slider-card .date-container .date-1 p span {
  font-size: 30px;
}
.event-wrapper .slider-card .date-container .date-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}
.event-wrapper .slider-card .date-container .date-text-container i {
  color: var(--primary);
}

@media screen and (max-width: 1006px) {
  .date-container {
    flex-direction: column;
  }
  .date-container .date-1 {
    width: 100%;
    padding: 2px 10px;
  }
  .date-container .date-text-container p {
    font-size: 12px;
  }
  .date-container .date-text-container h6 {
    font-size: 14px;
  }
}

@media screen and (max-width: 777px) {
  .event-wrapper .slider-card {
    width: calc(100% / 1);
  }
  .date-container .date-1 {
    width: 40%;
    align-self: flex-start;
    padding: 2px 10px;
  }
  .event-wrapper .slider-card img {
    width: 100%;
  }
}
@media screen and (max-width: 527px) {
  nav .items .all {
    font-size: 10px;
  }
}
@media screen and (max-width: 403px) {
  nav .items {
    display: flex;
    flex-wrap: wrap;
  }
  nav .items .all {
    width: 100%;
  }
}
