:root {
  --primary: #026ae3;
}
.instructor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  /* background-color: brown; */
  width: 100%;
  height: auto;
  padding: 2rem;
}
.left-instructor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(161, 202, 202, 0.705);
  /* padding: 2rem; */
  width: 20%;
}
.left-instructor-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid rgba(161, 202, 202, 0.705);
  width: 100%;
  margin: 1rem;
}
.left-instructor-top .image {
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 20%);
}
.left-instructor-top .image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.left-instructor-top h4 {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
.left-instructor-top p {
  font-size: 16px;
  font-weight: 300;
  color: gray;
  margin-top: -10px;
}
.left-instructor-top .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-instructor-top .links i {
  border-radius: 50%;
  padding: 7px;
  margin: 6px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid rgb(61, 56, 56);
}
.left-instructor-top .links i:hover {
  color: white;
  background-color: rgb(61, 56, 56);
  border: 1px solid rgb(61, 56, 56);
}
.left-instructor-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: turquoise; */
  width: 100%;
}
.left-instructor-bottom .icons-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  /* padding-right: 1rem; */
  width: 100%;

  /* background-color: violet; */
}
.left-instructor-bottom .icons-text.active {
  background-color: var(--primary);
}

.left-instructor-bottom #left-instructor-bottom-1.active i {
  color: black;
}
.left-instructor-bottom .icons-text i {
  /* color: var(--primary); */
  color: black;
}
.left-instructor-bottom .icons-text p {
  padding-top: 14px;
  padding-left: 14px;
}
.left-instructor-bottom .icons-text:hover {
  background-color: var(--primary);
}
.left-instructor-bottom .icons-text:hover i {
  color: white;
}

.right-instructor {
  width: 80%;
  /* width: 100%; */
  display: flex;
  height: auto;
  margin: 0 10px;

  /* padding: 5rem; */
  /* background-color: violet; */
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#right-instructor_two.hide {
  display: none;
}
#right-instructor_three.hide {
  display: none;
}
#right-instructor_four.hide {
  display: none;
}

.right-instructor .all-courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border: 1px solid black;
}
.all-courses h2 {
  font-weight: 700;
  margin: 1rem;
  font-size: 25px;
}
.all-courses ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.all-courses ul li span {
  text-decoration: none;
  color: black;
  margin: 0.9rem 0;
  cursor: pointer;
}
.all-courses ul li span.active {
  color: var(--primary);
}
.all-courses ul li span:hover {
  color: var(--primary);
}

/* Main pagination  */
.right-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: chartreuse; */
  /* border: 1px solid black; */
}

.main-pagination {
  width: calc(80% / 3);
  box-shadow: 0 0 25px 0 rgb(29 25 0 / 25%);
  border-radius: 8px;
  margin: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-pagination.hide {
  display: none;
}
.main-pagination.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.main-pagination .img-pagination {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* background-color: yellow; */
  /* background: url(./images/courses/pic3.jpg) no-repeat;
      background-size: cover;
      background-position: center; */
}
.main-pagination .img-pagination img {
  width: 100%;
  transition: 0.3s ease;
  object-fit: cover;
}
.main-pagination .img-pagination img:hover {
  transform: scale(1.15);
}

.main-pagination .text-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid rgba(25, 25, 2, 0.3);
}
.main-pagination .text-pagination h6 {
  font-weight: 700;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.main-pagination .text-pagination h6:hover {
  color: var(--primary);
}
.main-pagination .review-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: violet; */
  width: 100%;
}
.main-pagination .review-pagination .star {
  display: flex;
  width: 100%;
  /* background-color: yellow; */
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0.3rem;
  border-right: 1px solid rgba(25, 25, 2, 0.3);
}
.main-pagination .review-pagination .star .stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-pagination .review-pagination .star .stars i {
  font-size: 13px;
  color: var(--primary);
}
.main-pagination .review-pagination .pay {
  display: flex;
  width: 100%;
  padding: 0.3rem;
  /* background-color: gray; */
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.main-pagination .review-pagination .pay p {
  text-decoration: line-through;
  opacity: 0.5;
  font-size: 15px;
}
.main-pagination .review-pagination .pay h6 {
  font-size: 20px;
  font-weight: 700;
}

/* Quiz section  */
.right-instructor-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* background-color: aquamarine; */
  border: 1px solid #c1c1c1;
}
.right-instructor-2 h3 {
  align-self: flex-start;
  border-bottom: 1px solid #c1c1c1;
  width: 100%;
  padding: 1rem;
}
.main-quiz {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* background-color: burlywood; */
}

.main-quiz .left-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
}
.main-quiz .left-quiz-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: cadetblue; */
  width: 100%;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #c1c1c1;
  /* flex-direction: column; */
}
.main-quiz .left-quiz-1 .icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-quiz .left-quiz-1 .icon-text i {
  color: var(--primary);
}
.main-quiz .left-quiz-1 .icon-text p {
  padding-top: 13px;
  padding-left: 13px;
}
.main-quiz .right-quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
/* Quiz section End */
/* /////////////////////////////// */
/* Edit profile   */
.right-instructor-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid #c1c1c1;
}
.right-instructor-3 h3 {
  align-self: flex-start;
}
.main-edit {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.main-edit .main-edit-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 100%;
  /* margin: 10px; */
}
.main-edit .main-edit-1 h4 {
  color: var(--primary);
}
.main-edit .main-edit-1 .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main-edit .main-edit-1 .form .form-control {
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
}
.main-edit .main-edit-1 .form .form-control label {
  color: black;
  /* background-color: burlywood; */
  padding: 6px 25px;
  font-size: 13px;
  width: 24%;
  margin: 0 10px;
  justify-self: flex-start;
}
.main-edit .main-edit-1 .form .form-control div {
  width: 65%;
  /* background-color: cadetblue; */
  display: flex;
  padding: 0 5px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.main-edit .main-edit-1 .form .form-control div p {
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 12px;
}
.main-edit .main-edit-1 .form .form-control div input {
  padding: 6px;
  width: 100%;
  margin: 0 10px;
  outline: none;
}
.main-edit .main-edit-1 .form .form-control div input:focus {
  border: 1px solid var(--primary);
}
.main-edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}
.main-edit-buttons a button {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 4px;
  border: none;
}
.main-edit-buttons #btn {
  background-color: var(--primary);
  color: black;
}
.main-edit-buttons #btn:hover {
  background-color: black;
  color: white;
}
.main-edit-buttons #btn-2 {
  background-color: black;
  color: white;
}
.main-edit-buttons #btn-2:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* ../////////////////////////////////// */

/* Edit profile  End */

@media screen and (max-width: 1200px) {
  .main-pagination {
    width: calc(80% / 3);
  }
}
@media screen and (max-width: 1160px) {
  .main-pagination {
    width: calc(80% / 2);
  }
}
@media screen and (max-width: 1077px) {
  .instructor {
    /* flex-direction: column; */
    width: 100%;
    /* margin: 1rem; */
    /* padding-left: 0; */
  }
  .right-pagination {
    width: 100%;
  }
  .left-instructor {
    width: 35%;
  }
  .left-instructor-top,
  .left-instructor-bottom {
    border: none;
  }
}
@media screen and (max-width: 769px) {
  .main-pagination {
    width: calc(80% / 1);
  }
}
@media screen and (max-width: 736px) {
  .instructor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-instructor {
    width: 80%;
    border: 1px solid #026ae3;
  }
  .left-instructor-top {
    width: 100%;
    border-bottom: 1px solid #026ae3;
  }
  .left-instructor-bottom {
    width: 100%;
  }
  .main-quiz {
    flex-direction: column;
  }
  .main-quiz .left-quiz,
  .main-quiz .right-quiz {
    width: 100%;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 633px) {
  .main-pagination {
    width: calc(80% / 1);
  }
  .main-pagination {
    width: 100%;
    padding: 0.6rem;
    margin: 0.2rem;
  }
  .all-courses h2 {
    font-size: 15px;
    font-weight: 200;
  }
  .all-courses ul li {
    padding: 3px;
  }
  .all-courses ul li span {
    font-size: 12px;
  }
  .instructor {
    padding: 0;
    margin-right: 0rem;
  }
  .main-edit-1 {
    margin: 2px 5px;
  }
  .main-edit .main-edit-1 .form .form-control {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* background-color: burlywood; */
  }
  label {
    font-size: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: blueviolet; */
  }
  .right-instructor-3 {
    padding: 1rem;
  }
  .main-edit-1 {
    margin-left: -20px;
  }
  .main-edit .main-edit-1 .form .form-control div {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .main-pagination {
    width: 100%;
    padding: 0.6rem;
    margin: 0.2rem;
  }
  .instructor {
    padding: 0;
    margin-right: 0rem;
  }
  .right-instructor-3 {
    padding: 0.6rem;
  }
  input {
    padding: 2px 10px;
  }
}

.modal-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  background-color: #f3f3f3;
  padding: 3rem 4rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
button.btn {
  display: inline-block;
  background-color: var(--primary);
  font-size: 1rem;
  color: white;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}
.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: var(--primary);
}

.modal__header {
  font-size: 1.5rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2rem;
}

.modal__form label {
  font-size: 0.9rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 0.7rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  outline: none;
}
.modal__form input:focus {
  border: 1px solid var(--primary);
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 441px) {
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: none;
  }
}
@media screen and (max-width: 395px) {
  .btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 1rem;
    right: 7rem;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    background: none;
  }

  .modal__header {
    font-size: 1rem;
    margin-bottom: 4.5rem;
    line-height: 2;
    text-align: center;
  }

  .modal__header span {
    font-size: 1.2rem;
    margin-left: 20px;
  }
  .highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-color: var(--primary);
  }
}
